/**
 * Default Theme - Grayscale
 * Neutral grayscale for wireframing and prototyping
 */

/* Declare layer order */
@layer reset, tokens, base;

/* Reset layer */
@import './reset.css' layer(reset);

/* Tokens layer */
@import '@ankh-studio/tokens/dist/tokens.css';
@import '@ankh-studio/tokens/dist/colors/grayscale.css';

/* Custom media queries */
@import './internal/breakpoints.css';

/* Base styles layer */
@import './internal/base-styles.css' layer(base);
